<!-- create-product.component.html -->

<ion-header>
  <ion-toolbar>
    <ion-title>
      Crear Producto
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">Nombre del Producto</ion-label>
    <ion-input type="text" [(ngModel)]="nuevoProducto.productName"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Descripción</ion-label>
    <ion-textarea [(ngModel)]="nuevoProducto.productDescription"></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Precio</ion-label>
    <ion-input type="number" [(ngModel)]="nuevoProducto.productPrice"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">URL de la Imagen</ion-label>
    <ion-input type="text" [(ngModel)]="nuevoProducto.productImageUrl"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Categoría</ion-label>
    <ion-select [(ngModel)]="nuevoProducto.selectedCategory">
      <ion-select-option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-button expand="block" (click)="createProduct()">Crear Producto</ion-button>
</ion-content>






