<ion-header>
  <ion-toolbar>
    <ion-title>Nuevo Producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input [(ngModel)]="nuevoProducto.name" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Descripción</ion-label>
    <ion-textarea [(ngModel)]="nuevoProducto.description" rows="4"></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Precio</ion-label>
    <ion-input [(ngModel)]="nuevoProducto.price" type="number"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">URL de la imagen</ion-label>
    <ion-input [(ngModel)]="nuevoProducto.url_imagen" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Categoría</ion-label>
    <ion-select [(ngModel)]="nuevoProducto.category">
      <ion-select-option *ngFor="let categoria of categorias" [value]="categoria.id">{{ categoria.name }}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button expand="full" (click)="guardarProducto()">Guardar Producto</ion-button>
</ion-content>





