<div>
  <label for="name">Nombre:</label>
  <input type="text" id="name" name="name" [(ngModel)]="product.name">

  <label for="description">Descripción:</label>
  <textarea id="description" name="description" [(ngModel)]="product.description"></textarea>

  <label for="price">Precio:</label>
  <input type="number" id="price" name="price" [(ngModel)]="product.price">

  <label for="url_imagen">URL de la imagen:</label>
  <input type="text" id="url_imagen" name="url_imagen" [(ngModel)]="product.url_imagen">

  <label for="category">Categoría:</label>
  <select id="category" name="category" [(ngModel)]="product.category">
    <!-- Aquí deberías iterar sobre las categorías disponibles y mostrarlas como opciones -->
    <option value="1">test</option>
    <option value="2">Categoría 2</option>
    <option value="3">Categoría 3</option>
  </select>

  <button (click)="createProduct()">Crear Producto</button>
</div>




