<ion-content>
    <ion-list>
      <ion-item *ngFor="let pedido of detallesConEstado">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Cliente: {{ pedido.usuario_username }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p><strong>Nombre:</strong> {{ pedido.usuario_nombre }}</p>
            <p><strong>Apellido:</strong> {{ pedido.usuario_apellido }}</p>
            <p><strong>Correo:</strong> {{ pedido.usuario_correo }}</p>
            <p><strong>Teléfono:</strong> {{ pedido.usuario_telefono }}</p>
            <p><strong>Dirección:</strong> {{ pedido.usuario_direccion }}</p>
            <p><strong>RUT:</strong> {{ pedido.usuario_rut }}</p>
            <p><strong>Total:</strong> {{ pedido.pedido_total }}</p>
            <p><strong>Delivery:</strong> {{ pedido.pedido_delivery_method }}</p>
            <p><strong>Estado:</strong> {{ pedido.pedido_estado }}</p>
            <p><strong>Productos:</strong></p>
            <ul>
              <li *ngFor="let producto of pedido.productos">
                Código: {{ producto.codigo }} / Nombre: {{ producto.nombre }} / Cantidad: {{ producto.cantidad }} / Precio: {{ producto.precio }}
              </li>
            </ul>
            <p><strong>Estado del Bodeguero:</strong> {{ pedido.estado_bodeguero }}</p>
            <p><strong>Nota del Bodeguero:</strong> {{ pedido.nota_bodeguero }}</p>
            <ion-button expand="block" color="primary" [disabled]="pedido.enviada_a_vendedor" (click)="enviarAlVendedor(pedido)">
              ENVIAR AL VENDEDOR
            </ion-button>
            <ion-button expand="block" color="secondary" (click)="onPedidoSelected(pedido)">
              EDITAR
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-item>
    </ion-list>
  </ion-content>








