.logo {
    height: 86px;
  }
  
  ion-header {
    --background: #ffffff;
    --border-color: #ffffff;
    border-bottom: 1px solid var(--border-color);
  }
  
  ion-toolbar {
    --background: rgb(41, 41, 41);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  }
  
  ion-buttons.logo-buttons {
    display: flex;
    align-items: center;
  }
  
  .searchbar-container {
    display: flex;
    justify-content: flex-start; /* Asegurar que la barra de búsqueda esté alineada a la izquierda */
    align-items: center;
    flex: 1;
    margin-left: 10px; /* Ajusta la distancia entre el logo y la barra de búsqueda */
  }
  
  .custom-searchbar {
    --background: #ffffff;
    --border-radius: 100px;
    --color: #000000; /* Cambia el color del texto a negro */
    width: 50%; /* Ajusta este valor según el tamaño deseado */
    max-width: 400px; /* Establece un ancho máximo para la barra de búsqueda */
  }
  
  ion-searchbar {
    --background: #ffffff;
    --border-radius: 100px;
    --color: #000000; /* Cambia el color del texto a negro */
  }
  
  ion-buttons {
    display: flex;
    align-items: center;
  }
  
  ion-buttons.end-buttons {
    margin-right: 10px; /* Ajusta la distancia de los botones de "Mi cuenta" y "Mi carro" a la izquierda */
  }
  
  ion-button {
    --padding-start: 10px;
    --padding-end: 10px;
    position: relative;
  }
  
  ion-button ion-list {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  ion-button:hover ion-list {
    display: block;
  }
  
  ion-button ion-list ion-item {
    display: flex;
    align-items: center;
  }
  
  ion-button ion-list ion-item ion-icon {
    margin-right: 8px;
  }
  
  ion-button[color="primary"] {
    --background: #007bff;
    --color: white;
  }
  
  ion-button[color="success"] {
    --background: #28a745;
    --color: white;
  }
  
  ion-toolbar ion-buttons ion-button:hover {
    --background-hover: #0056b3;
  }
  
  ion-toolbar ion-buttons ion-button[color="success"]:hover {
    --background-hover: #218838;
  }
  
  ion-content ion-toolbar {
    --background: #007bff;
  }
  
  ion-content ion-toolbar ion-buttons ion-button {
    --color: white;
    font-weight: bold;
  }
  
  ion-content ion-toolbar ion-buttons ion-button:hover {
    text-decoration: underline;
  }
  
  /* Media queries para móviles */
  @media (max-width: 768px) {
    .logo {
      height: 50px;
    }
  
    .searchbar-container {
      margin-left: 0;
      justify-content: center; /* Centra la barra de búsqueda en móviles */
    }
  
    .custom-searchbar {
      width: 100%; /* La barra de búsqueda ocupa el ancho completo en móviles */
      max-width: none;
    }
  
    ion-buttons.end-buttons {
      flex-direction: column;
      margin-right: 0;
    }
  
    ion-button {
      margin-bottom: 5px; /* Espacio entre botones en móviles */
    }
  
    ion-item {
      width: 100%;
      margin: 5px 0;
    }
  
    ion-button {
      width: 100%;
      margin-top: 20px;
    }
  }
  
  /* Media queries para pantallas grandes */
  @media (min-width: 769px) {
    #container {
      padding: 40px;
    }
  
    ion-item, ion-button {
      width: 100%;
      max-width: 600px;
    }
  }
  
  