<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-img src="https://cdn.discordapp.com/attachments/968742341613596692/1241022234265518242/logo2_preview_rev_1.png?ex=6648af85&is=66475e05&hm=8f81e27e214f60881fe555b0b98fe6c99a8a5a1db813ccdd0a5c86656681a854&" class="logo"></ion-img>
    </ion-buttons>
    <div class="searchbar-container">
      <ion-searchbar class="custom-searchbar" placeholder="Buscar aquí..."></ion-searchbar>
    </div>
    <ion-buttons slot="end" class="end-buttons">
      <ion-button>
        <ion-icon name="person-outline"></ion-icon>
        <span>Mi cuenta</span>
      </ion-button>
      <ion-button color="primary" (click)="login()">
        <ion-icon name="log-in-outline"></ion-icon>
        <span>Iniciar sesión</span>
      </ion-button>
      <ion-button color="success" (click)="register()">
        <ion-icon name="person-add-outline"></ion-icon>
        <span>Registrarse</span>
      </ion-button>
      <ion-button>
        <ion-icon name="cart-outline"></ion-icon>
        <span>Carrito</span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-item>
      <ion-label position="floating">Codigo</ion-label>
      <ion-input [(ngModel)]="productoData.codigo" name="codigo" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Categoria</ion-label>
      <ion-input [(ngModel)]="productoData.categoria" name="categoria" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Marca</ion-label>
      <ion-input [(ngModel)]="productoData.marca" name="marca" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="productoData.nombre" name="nombre" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Precio</ion-label>
      <ion-input [(ngModel)]="productoData.precio" name="precio" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Imagen de Referencia Auto (OBLIGATORIO)</ion-label>
      <ion-input [(ngModel)]="productoData.url_imagen" name="url_imagen" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-button fill="outline" color="primary" (click)="crearProducto()">Registrar Viaje</ion-button>
    </ion-item>
  </div>
</ion-content>
