<ion-content>
  <ion-list *ngIf="pedidosAprobados.length > 0">
    <ion-card *ngFor="let pedido of pedidosAprobados">
      <ion-card-content>
        <p>Cliente: {{ pedido.usuario_username }}</p>
        <p>Nombre: {{ pedido.usuario_nombre }}</p>
        <p>Apellido: {{ pedido.usuario_apellido }}</p>
        <p>Correo: {{ pedido.usuario_correo }}</p>
        <p>Teléfono: {{ pedido.usuario_telefono }}</p>
        <p>Dirección: {{ pedido.usuario_direccion }}</p>
        <p>RUT: {{ pedido.usuario_rut }}</p>
        <p>Total: {{ pedido.pedido_total }}</p>
        <p>Delivery: {{ pedido.pedido_delivery_method }}</p>
        <p>Estado: {{ pedido.pedido_estado }}</p>
        <p>Productos:</p>
        <ion-list>
          <ion-item *ngFor="let producto of pedido.productos">
            <p>Código: {{ producto.codigo }} / Nombre: {{ producto.nombre }} / Cantidad: {{ producto.cantidad }} / Precio: {{ producto.precio }}CLP</p>
          </ion-item>
        </ion-list>
        <ion-button (click)="aprobarPedido(pedido.id)">Aprobar Pedido</ion-button>
      </ion-card-content>
    </ion-card>
  </ion-list>
  <ion-list *ngIf="pedidosAprobados.length === 0">
    <ion-item>
      No hay pedidos por aprobar.
    </ion-item>
  </ion-list>
</ion-content>


