<ion-menu side="start" menuId="first" contentId="main-content">
  <ion-header>
    <ion-toolbar class="menu-header-toolbar">
      <ion-title class="menu-header-title">Categorías</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item routerLink="/herramientas" class="menu-item">Herramientas Manuales</ion-item>
      <ion-item routerLink="/materiales" class="menu-item">Materiales Básicos</ion-item>
      <ion-item routerLink="/equipos" class="menu-item">Equipos de Seguridad</ion-item>
      <ion-item routerLink="/tornillos" class="menu-item">Tornillos</ion-item>
      <ion-item routerLink="/medicion" class="menu-item">Equipo de Medición</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
        <!-- <ion-title class="menu-title">Menú</ion-title> -->
      </ion-buttons>
      <ion-buttons slot="start" class="logo-buttons">
        <ion-img src="https://media.discordapp.net/attachments/968742341613596692/1241022234265518242/logo2_preview_rev_1.png?ex=664b5285&is=664a0105&hm=f1d9f69df1e7a27b6af326eee22ebda56a54d7e8af92a28a88770fd8d8e18d3c&=&format=webp&quality=lossless"></ion-img>
      </ion-buttons>
      <div class="searchbar-container">
        <ion-searchbar class="custom-searchbar" placeholder="Buscar productos"></ion-searchbar>
      </div>
      <ion-buttons slot="end" class="end-buttons">
        <ion-button>
          <ion-icon name="home-outline"></ion-icon>
          <span [routerLink]="['/home']">Home</span>
        </ion-button>
        <ion-button color="primary">
          <ion-icon name="log-in-outline"></ion-icon>
          <span [routerLink]="['/iniciosesion']">Iniciar sesión</span>
        </ion-button>
        <ion-button color="success">
          <ion-icon name="person-add-outline"></ion-icon>
          <span [routerLink]="['/registro']">Registrarse</span>
        </ion-button>
        <ion-button>
          <ion-icon name="cart-outline"></ion-icon>
          <span [routerLink]="['/cart']">Carrito</span> 
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
</div>

<ion-content>

</ion-content>




