<ion-header>
  <ion-toolbar>
    <ion-title>Vouchers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Fecha</ion-label>
    <ion-datetime displayFormat="YYYY-MM-DD" [(ngModel)]="selectedDate"></ion-datetime>
    <ion-button (click)="fetchVouchers()">Buscar</ion-button>
  </ion-item>

  <ion-list>
    <ion-card *ngFor="let voucher of vouchers">
      <ion-card-header>
        <ion-card-title>Voucher ID: {{ voucher.voucher_id }}</ion-card-title>
        <ion-card-subtitle>Emitido por: {{ voucher.user.nombre }} {{ voucher.user.apellido }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>Total: {{ voucher.total | currency }}</p>
        <p>Fecha: {{ voucher.created_at | date }}</p>
        <ion-list>
          <ion-item *ngFor="let item of voucher.items">
            <p>{{ item.title }} - Cantidad: {{ item.quantity }} - Precio Unitario: {{ item.unit_price }}</p>
          </ion-item>
        </ion-list>
        <!-- Mostrar el botón solo si el rol del usuario no es 'vendedor' -->
        <ion-button *ngIf="voucher.user.rol !== 'vendedor'">Enviar a correo</ion-button>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>



